$background: {{colors.background.default.hex}};
$background_alt: {{colors.surface.default.hex}};
$foreground: {{colors.on_background.default.hex}};
$surface_variant: {{colors.surface_variant.default.hex}};
$primary: {{colors.primary.default.hex}};
$on_primary: {{colors.on_primary.default.hex}};
$error: {{colors.error.default.hex}};
$inverse_on_surface: {{colors.inverse_on_surface.default.hex}};

